@import "../../styles/variables.scss";

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);

  svg {
    animation: spin 1s infinite linear;
    color: $white;
    font-size: 3.2rem;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
