@import "../../styles/variables.scss";

.home {
  main {
    margin-top: 7.6rem;
    padding: 9rem;
    padding-top: 0;
  }

  .searchAndCreateBookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.5rem;

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      gap: 3rem;
    }

    h2 {
      font-size: 4rem;
      color: $white;
      text-transform: uppercase;

      @media screen and (max-width: 425px) {
        font-size: 3.2rem;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 8rem;


      @media screen and (max-width: 1320px) {
        gap: 3.5rem;
      }

      @media screen and (max-width: 1080px) {
        flex-direction: column;
        gap: 2.5rem;
        width: 60vw;
      }

      @media screen and (max-width: 768px) {
        width: 80vw;
      }

      .inputField {
        height: 5rem;
        width: 49.4rem;

        @media screen and (max-width: 1250px) {
          width: 38.5rem;
        }

        @media screen and (max-width: 1080px){
          width: 100%;
        }
      }

      .newBookmarkButton {
        width: 25rem;
        height: 6rem;
        background: $blue;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2.8rem;
        border-radius: 0.8rem;
        font-weight: 700;
        border: 0;
        transition: 0.15s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.015);
          filter: brightness(1.2);
        }

        @media screen and (max-width: 1250px) {
          width: 18.5rem;
          font-size: 2rem;
        }

        @media screen and (max-width: 1080px) {
          width: 100%;
        }
      }
    }
  }
}
