@import "../../styles/variables.scss";

.home {
  main {
    margin-top: 7.6rem;
    padding: 9rem;
    padding-top: 0;
  }

  .searchAndCreateBookmark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.5rem;

    h2 {
      font-size: 4rem;
      color: $white;
      text-transform: uppercase;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 8rem;

      .inputField {
        height: 5rem;
        width: 49.4rem;
      }

      .newBookmarkButton {
        width: 25rem;
        height: 6rem;
        background: $blue;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2.8rem;
        border-radius: 0.8rem;
        font-weight: 700;
        border: 0;
        transition: 0.15s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.015);
          filter: brightness(1.2);
        }
      }
    }
  }
}
