@import "../../styles/variables.scss";

.bookmarkListWrapper {
  .noBookmarksWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 3.2rem;
      color: $white;
    }
  }

  .bookmarkList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    @media screen and (max-width: 520px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
}
