@import "../../styles/variables.scss";

.logo {
  display: flex;
  align-items: center;
  gap: 3.5rem;

  @media screen and (max-width: 1366px) {
    gap: 2.75rem;
  }

  @media screen and (max-width: 450px) {
    gap: 2rem;
  }

  svg,
  span {
    color: $white;
  }

  svg {
    font-size: 7.2rem;

    @media screen and (max-width: 1366px) {
      font-size: 5.4rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 4.2rem;
    }
  }

  span {
    font-size: 5.8rem;

    @media screen and (max-width: 1366px) {
      font-size: 4.6rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 3.4rem;
    }
  }
}
